@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/fTLR1wW5qq9Ui3F-pB4hXQ.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpBLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9eQowW6GLedZLTMLCO5O4pE.woff2) format('woff2');
}


.container {
  width: 1140px!important;
}
h1, h2, h3, h4 {
  color: #000;
}
h3, h4 {
  font-weight: 700;
}
ul li, ol li {
  margin-bottom: 10px;
}
a {
  border-bottom: 1px solid #d5c4ca;
  &:hover, &:focus {
    border-bottom-color: lighten(#b72955, 50%);
  }
}
table {
  tr {
    th {
      font-size: 14px;
      font-weight: 400;
      background: #f3eee3;
      padding: 10px 15px;
    }
    td {
      padding: 10px 15px;
      vertical-align: top;
    }
  }
}
label {
  font-size: 14px;
}
.btn-primary {
  &:hover, &:focus {
    background: #b72955;
    border-color: #b72955;
  }
  &:active {
    background: #822c48;
    border-color: #822c48;
  }
}
@media (min-width: 1500px) {
  header {
    background: url(../images/bg-h.png) no-repeat right top;
  }
}
.logo {
  background: linear-gradient(to bottom, #3f0b1e, #4a0e25);
  height: 161px;
  padding: 34px 0;
  text-align: center;
  a {
    border: none;
  }
}
.header-info {
  height: 161px;
  padding: 34px 0;
  div {
    &:nth-of-type(3) {
      text-align: right;
      div {
        padding-right: 30px;
      }
    }
  }
}
.sidebar {
  background: linear-gradient(to bottom, #4a0e25, #75264c);
  min-height: 505px;
  position: relative;
  nav {
    ul {
      .list-unstyled;
      margin-bottom: 30px;
      li {
        a {
          display: block;
          padding: 10px 18px;
          color: #fff;
          font-family: @font-family-sans-serif;
          border: none;
        }
        &.active {
          a {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 255px solid #fff;
    border-bottom: 50px solid transparent;
    position: absolute;
    bottom: -50px;
    left: 0;
  }
}
.address {
  color: #000;
  font-family: @font-family-sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.time {
  font-size: 14px;
  font-style: italic;
}
.question-link {
  font-weight: 700;
  margin-bottom: 22px;
}
.question-tip {
  font-size: 13px;
  font-style: italic;
}
.tel {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  span {
    color: #706f6f;
    font-size: 14px;
    font-weight: 400;
  }
}
.call-link {
  margin-top: 3px;
  a {
    font-size: 14px;
    font-style: italic;
  }
}
.main, .inner {
  padding: 0 0 90px;
}
.tur-group-promo {
  background: url(../images/borsch.jpg) no-repeat;
  background-size: contain;
  height: 424px;
  position: relative;
  margin-bottom: 40px;
  > div {
    position: absolute;
    right: 50px;
    width: 364px;
  }
}
.tur-group-promo-red {
  color: @brand-primary;
  top: 58px;
}
.tur-group-promo-grey {
  color: #1b1b1d;
  bottom: 58px;
}
.tur-group-promo-price {
  font-size: 40px;
}
.tur-group-promo-person {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tur-group-promo-time {
  font-style: italic;
}
.about {
  margin: 40px 0;
  &:before, &:after {
    content: "";
    display: block;
    width: 853px;
    height: 10px;
    background: url(../images/line.png) no-repeat;
  }
  &:before {
    background-position: center top;
  }
  &:after {
    background-position: center bottom;
  }
  > div {
    padding: 70px 0 35px;
    color: @brand-primary;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    &:nth-of-type(1) {
      background: url(../images/icon-1.png) no-repeat center 35px;
    }
    &:nth-of-type(2) {
      background: url(../images/icon-2.png) no-repeat center 35px;
    }
    &:nth-of-type(3) {
      background: url(../images/icon-3.png) no-repeat center 35px;
    }
    &:nth-of-type(4) {
      background: url(../images/icon-4.png) no-repeat center 35px;
    }
  }
}
.menu-title {
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}
.menu-variant {
  ul {
    .list-unstyled;
    min-height: 228px;
    margin-bottom: 15px;
    li {
      color: #706f6f;
      line-height: 1.5;
    }
  }
}
.menu-price {
  color: @brand-primary;
  font-size: 24px;
}
.order {
  border: 1px solid #cecece;
  padding: 25px 40px 35px 30px;
  .tel {
    font-size: 16px;
  }
}
.order-btn {
  margin-top: 40px;
  button {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
footer {
  background: #f3eee3;
  padding: 30px 0 20px;
  position: relative;
  font-size: 14px;
  &:before {
    content: "";
    display: block;
    width: 249px;
    height: 151px;
    background: url(../images/bg-f.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .tel {
    font-size: 16px;
    text-align: right;
  }
}
.menu-table {
  width: 60%;
}
.table-section-title {
  color: darken(@text-color, 10%);
  font-weight: 700;
  border-bottom: 1px solid #cecece;
  td {
    padding-top: 20px;
  }
}
.menu-table-price {
  color: darken(@text-color, 10%);
  font-weight: 700;
}
.indent {
  padding-left: 20px;
}
.main-head {
  background: #f3eee3;
  padding: 12px;
  margin-bottom: 15px;
  h1 {
    color: @brand-primary;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &:after {
      content: "";
      display: block;
      width: 268px;
      height: 10px;
      background: url(../images/line-1.png) no-repeat;
      margin: 10px auto;
    }
  }
}
.main-head-wrapper {
  border: 1px solid #cbb7b5;
  padding: 0 0 30px;
}
.main-head-slogan {
  color: @brand-primary;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  span {
    margin: 0 12px;
  }
}
.main-head-img {
  text-align: center;
  margin-bottom: 30px;
}
.main-head-link {
  font-size: 14px;
  text-align: center;
}
.banquet, .business-lunch {
  height: 140px;
  margin-bottom: 10px;
}
.banquet {
  float: left;
  width: 49%;
  margin-right: 1%;
  background: url(../images/promo-1.png) no-repeat;
  background-size: auto 140px;
  .promo-link-name {
    left: 45px;
    bottom: 20px;
  }
}
.business-lunch {
  float: right;
  width: 49%;
  margin-left: 1%;
  background: url(../images/promo-2.png) no-repeat;
  background-size: auto 140px;
  .promo-link-name {
    left: 20px;
    top: 10px;
  }
}
.promo-link {
  display: block;
  width: 100%;
  height: 140px;
  border: none;
  position: relative;
}
.promo-link-name {
  position: absolute;
  span {
    color: #000;
    &:nth-of-type(1) {
      font-size: 30px;
      border-bottom: 1px solid #c3c4c5;
    }
    &:nth-of-type(2) {
      font-size: 18px;
      line-height: 2.0;
    }
  }
}
.main {
  .about {
    margin-bottom: 60px;
  }
}

.modal-title {
  .h2;
}
.btn-default {
  .btn-primary;
}
.contacts-address {
  margin: 30px 0;
}
.tel {
  .value {
    font-size: 32px;
    a {
      text-decoration: none;
      border: none;
    }
  }
}
.contacts-description {
  font-size: 18px;
  margin-top: 30px;
}
.price-card {
  margin-bottom: 30px;
}
.price-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.price-start {
  font-style: italic;
}
.breadcrumb > li {
  font-size: 14px;
  margin-bottom: 8px;
}
.menu-list {
  margin: 40px 0;
}
.menu-item {
  padding-left: 0;
  height: 322px;
  margin-bottom: 20px;
}
.menu-item-img {
  margin-bottom: 15px;
  img {
    .img-responsive;
  }
}
.menu-item-title {
  font-weight: 700;
  margin-bottom: 3px;
}
.menu-item-descr {
  margin-bottom: 10px;
}
.menu-item-price {
  color: @brand-primary;
}